@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: '微软雅黑';  }
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration:none;}
img{border:0;display:block;}
ul,ol,li{list-style:none;}
input{outline:none;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
 
   $height:80px;
	$width:100%;
	$color:blue;
	$width-con:1200px;
.top{
		height:$height;width:$width;background: $color;
		img{
			width:100%;height:100%;
		}
		.top-con{
			width:$width-con;
			margin:0 auto;
		}
	}
	$heightheader:30px;
	.header{
		height:$heightheader;width:$width;background:#f2f2f2;
		.header-con{
			height:$heightheader;width:$width-con;margin:0 auto;
			.header-ul1{
				$color:#666666;$font:12px;height:$heightheader;
				color:$color;font-size:$font;width:500px;float:left;
				margin-right:140px;
				li{
					float:left;
				}
				a{
					height:18px;width:106px;border-right:1px solid #dfdfdf;display: block;color:#666666;margin-top:8px;
				}
				.index-a{
					background: url(../images/home.png)no-repeat 0px 0px;
					&:hover{
						color:orange;
					}
					span{
						margin-left:20px;
					}
				}

				.phone-a{
					width:250px;border:0;background:url(../images/line_bg.png)no-repeat;
					margin-left:5px;
					span{
						margin-left:25px;
					}
				}
			}
			.header-dl1{
				width:188px;height:30px;color:#666;font-size:12px;
				float:left;
				dt{
					float:left;
				}
				.login{
					position: relative;
				.login-a{
					display: block;
					width:50px;height:30px;line-height: 30px;position: relative;padding-left:50px;color:#666;
						&:hover{
							color:#d00;
						}
					
					}
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;
						background: #dfdfdf;
					}
				}
				
				.regist{
					position: relative;
					.regist-a{
										display: block;
										width:88px;height:30px;line-height: 30px;color:#666;background:url(../images/youli.gif)no-repeat 15px 0px;
										
										span{
											margin-left:45px;
										}
									}
									i{
											width:1px;height:12px;
											position: absolute;right:0;top:9px;background: #dfdfdf;
										}

								}
				}

			.my-five{
				width:130px;height:30px;line-height:30px;text-align:center;float:left;font-size:12px;position: relative;
				a{
					color:#666;
					
					em{
						width:14px;height:11px;display: inline-block;background:url(../images/share01.png)no-repeat -384px -320px;
					}
					
				}
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;background: #dfdfdf;
				}
				#myfive-dd{
					width:100%;height:150px;display:none;
				}
				
			}
			.help{
				width:85px;height:30px;float:left;
				text-align:center;font-size:12px;position: relative;
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;
						background: #dfdfdf;
				}
				a{
					color:#666;line-height: 30px;
					&:hover{
						color:orange;
					}
				}
			}
			.phonedown{
				width:128px;height:30px;float:left;font-size:12px;
				text-align: center;
				a{
					color:#666;line-height: 30px;
				}
				em{
						width:14px;height:11px;display: inline-block;background:url(../images/share01.png)no-repeat -384px -320px;
					}
				.phone-qr{
					width:106px;height:150px;background:#fff;padding:0 11px;display: none;position: relative;
					img{
						width:106px;height:106px;
					}
					p{
						width:106px;height:20px;font-size:12px;color:#666;line-height: 20px
					}
					.phone-zengsong{
						span{
							font-size:18px;
							font-weight: 500;
							color:#d00;
						}
					}
				}


			}

		}
	}

	.logo{
		width:100%;height:110px;
		.logo-con{
		width:1200px;height:110px;margin:0 auto;
			.logo-pic{
				width:244px;height:110px;float:left;
			}
			.logo-ad{
				width:142px;height:80px;float:left;margin:15px 0 0 50px;
			}
			.search{
				width:347px;height:68px;float: left;margin:36px 0 0 55px;
				form{
					width:347px;height:38px;background:#c69c6d;
					p{
						width:347px;height:38px;background:#c69c6d;
						.search-input1{
							width:263px;height:34px;border:0;margin:2px 0 2px 2px;color:#bbbbbb;font-size:12px;
						}
						.search-input2{
							width:70px;height:34px;border:0;background: #c69c6d;color:#fff;
						}
					}
				}
				.search-ul1{
					width:343px;height:32px;font-size:12px;
					li{
						float:left;margin-right:24px;
						a{
							display: block;color:#bbb;line-height: 32px;
							&:hover{
								color:#d00;
							}
						}
					}
				}
				
			}
			.seaenter{
					width:200px;height:30px;float:left;margin:36px 0 0 55px;
					p{
						width:200px;height:30px;
						background:url(../images/overseadef.jpg)no-repeat;
						&:hover{
							background:url(../images/overseahov.jpg)no-repeat;
						}
					}
				}
		}
	}
.nav{
		width:100%;height:40px;background:#191919;
		.nav-con{
			width:1200px;height:40px;margin:0 auto;
			.nav-ul1{
				width:950px;height:40px;float:left;
				li{
					float:left;
					.classify-a{
						display: block;
						width:82px;height:40px;font-size: 12px;text-align: center;line-height: 40px;color:#b7a985;
						&:hover{
							color:#fff;
						}
					}
					#commodity{
						width:130px;height:40px;background:#cf0101;color:#fff;
					}
				
				}
				.classify{
					position: relative;
					.menu-left{
						width:130px;height:540px;background:rgba(255,255,255,.6);z-index: 30;display: none;
						position: absolute;left:0;top:40px;
						.menu-box{
							width:130px;height:540px;
							li{
								position: relative;
								width:130px;height:36px;
								z-index:40;
								.menu-fenlei{
									width:130px;height:36px;text-align: center;
									a{
										display: block;width:130px;height:36px;
										span{
											font-size:12px;color: #000;
											line-height: 36px;
										}
									}
									.active-nav{
										color:#c29b6c;
									}
									
									
								}
								/* .active-nav{
										background: url(../images/share01.png)no-repeat -200px -37px;
										a{
											color:#c29b6c;
										}
										
								} */
								.menu-xiangqing{
									width:800px;height:258px;
									background: #fff;
									position: absolute;left:130px;top:0px;z-index: 30;
									display: none;
									.xiangqing1{
										width:530px;height:64px;
										
										margin-left:40px;
										h2{
											float:left;
											width:100px;height:50px;
											
											a{
												color:#d00;
												font-weight: 400;line-height: 50px;font-size:14px;
											}

										}
										.a{
											width:400px;height:50px;float:left;
											a{
												font-size:12px;color:#333;
											}
										}
									}
									.xiangqing-btn{
										width:500px;height:50px;margin-left:40px;
										a{
											display: block;float:left;
											width:100px;height:50px;text-align: center;color:#fff;background: red;line-height: 50px;margin-right:30px;
										}
									}
								}
							}
						}
					}
				}
			.find-store{
					span{
						display: inline-block;
						width:40px;height:40px;float:left;
					}
					i{
						display: inline-block;
						float: left;
						width:19px;height:40px;
						background: url(../images/share01.png)no-repeat -58px -169px;
					}
				}
			}
			.fly-sea{
				width:100px;height:40px;
				background:url(../images/oversea.gif)no-repeat;
				float:left;
				margin-right:5px;
			}
			.nav-icon{
				width:130px;height:40px;float:left;
				li{
					float:left;
				}
				span{
					width:30px;height:40px;display: block;
					margin-right:5px;
				}
				.icon-1{
					background: url(../images/share01.png)no-repeat -238px -66px;
				}
				.icon-2{
					background:url(../images/share01.png) no-repeat -297px -66px ;
				}
				.icon-3{
					background:url(../images/share01.png) no-repeat -352px -66px;
				}
			}
		}
	}
.banner{
	height:520px;
	.banner-con{
		height:520px;background:pink;
		position: relative;overflow: hidden;
		p{
			position: absolute;
		}
		#banner-p1{
			left:132px;
			top:200px;
		}
		#banner-p2{
			right:132px;
			top:200px;
		}
		#banner-ul1{
			position: absolute;
			li{
				width:1263px;
				height:520px;
				float:left;
			}
		}
		#banner-ol1{
			position: absolute;
			bottom:15px;
			left:45%;
			
			background:rgba(255,255,255,.3);
			border-radius: 10px;
			li{
				width:12px;
				height:12px;
				border-radius: 100%;
				float:left;
				background: #fff;
				margin:3px;
			}
			
		}
	}
}
.flagship{
	height:466px;
	.flagship-con{
		height:428px;margin:0 auto;width:1210px;padding-top:38px;
		h3{
			width:1210px;height:51px;
		}
		.flagship-pic{
			width:1210px;height:330px;margin-top:27px;
			.flagpic-box{
				width:1210px;height:330px;
				
				.flag-li{
					float:left;margin-right:6px;position: relative;
					width:236px;
					height:330px;overflow: hidden;
					.flag-introduce{
						width:175px;height:155px;background:#fff;position: absolute;top:275px;left:30px;
						.falgpic-box{
							width:175px;height:55px;
							margin-bottom:39px;
							position: relative;
							img{
								width:175px;height:55px;
							}
							.hengxian{
								position: absolute;
								width:20px;height:2px;background:black;
								bottom:0px;left:45%;
							}
						}
						
						.flag-miaoshu{
							width:175px;height:100px;

							p{
								text-align: center;

							}
						}
					}
				}
				
			}	
		}
	}
}
.hotstore{
	height:275px;
	.hotstore-con{
		width:1200px;height:275px;margin:0 auto;
		h4{
			width:1200px;height:60px;
			
			img{
				float:left;
				margin-right:800px;
			}
			span{
				display: inline-block;
				height: 30px;width:30px;
				float:left;
			
			}
			.hot-left{
				margin-right:10px;
				background: url(../images/share01.png)no-repeat -229px -378px ;
				margin-top:30px;
			}
			.hot-right{
				margin-right:10px;
				background: url(../images/share01.png)no-repeat -257px -378px ;margin-top:30px;
			}
		}
		.hotstore-pic{
			width:1200px;height:180px;
			overflow: hidden;position: relative;
			.hotstore-top{
				height:180px;width:2400px;position: absolute;
				.div2{
					/* width:166px;height:1px; */
					position: absolute;
					top:-1px;left:0;background: #000;
				}
				.div3{
					/* width:1px;height:86px; */
					position: absolute;
					top:-1px;left:-1px;background: #000;
				}
				.div4{
					position: absolute;
					top:84px;left:165px;background: #000;
					/* width:1px;height:84px; */
				}
				.div5{
					position: absolute;
					top:84px;left:165px;background: #000;
					/* width:166px;height:1px;
					 */
				}
				.hottop-li1{
					width:1200px;height:180px;
					float:left;
					.hot-change{
						width:165px;height:83px;
						border:1px solid #dfdfdf;
						position: relative;
						float:left;margin-right:4px;
						margin-top:4px;
						.hotimg-box{
							position: absolute;
							z-index: 2;
							width:165px;height:83px;position: absolute;
							img{
								width:165px;height:83px;

							}
						}
						.hot-introduce{
							width:165px;height:83px;background:#fff;
							text-align:  center;
							position: relative;
							.hot-p1{
								line-height: 83px;
							}
							.hot-p2{
								width:20px;height:2px;background: #000;position: absolute;left:45%;top:67%;
							}
						}
					}
				}
				.hottop-li2{
					width:1200px;height:180px;
					float: left;
					.hot-change{
						width:165px;height:83px;
						border:1px solid #dfdfdf;
						position: relative;
						float:left;margin-right:4px;
						margin-top:4px;
						.hotimg-box{
							position: absolute;
							z-index: 2;
							width:165px;height:83px;
							img{
								width:165px;height:83px;
							}
						}
						.hot-introduce{
							width:165px;height:83px;background:#fff;
							text-align:  center;
							position: relative;
							.hot-p1{
								line-height: 83px;
							}
							.hot-p2{
								width:20px;height:2px;background: #000;position: absolute;left:45%;top:67%;
							}
						}
					}
				}
			}
		}
	}
}
.oversealife{
	height:515px;
	.oversealife-con{
		width:1200px;height:515px;margin:0 auto;
		.sealife-ul{
			width:1200px;height:393px;
			li{
				float:left;margin-right:5px;
				overflow: hidden;
				.sealife-a{
					display: block;position: relative;
				}
				.sealife-a:before { content: ""; position: absolute; width:400px; height: 50%; top: 0; left: -550px; 
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%, rgba(255,255,255,0) 100%);
						background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%, rgba(255,255,255,0) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%, rgba(255,255,255,0) 100%); 
							-webkit-transform: rotate(-55deg);
							-moz-transform: rotate(-55deg)
					
				}
				.sealife-a:hover:before{
						 left: 150%; transition: left 1s ease;
					}

			}
				
		}
	}
}

.hotitems{
	height:650px;
	.hotitems-con{
		width:1200px;height:650px;
		margin:0 auto;
		.items-btn{
			width:1200px;height:30px;text-align: center;
			div{
				line-height: 30px;width:398px;height:30px;background:#999;float:left;color:#ffffff;
				margin-right:2px;
			}
			.itembtn-3{
				margin-right:0px;
			}
			.active{
				background:#000;

			}

		}
		.sobigbox{
				width:1200px;height:517px;
				margin-top:10px;overflow: hidden;
				.lifemovebox{
					width:9999px;height:517px;
					position: relative;
					.leftbao{
						width:1200px;height:517px;
						float:left;
						
						.storesameleft{
						width:366px;height:515px;background:orange;
						float:left;
						}
						.storesameright{
						width:833px;height:515px;
						float:left;
						.storesametop{
							width:833px;height:250px;
							.store-top1{
								width:224px;height:250px;border:1px solid #cccccc;float:left;
								margin-right:2px;position: relative;
								.storetop1-txt{
									width:50px;height:72px;
									position: absolute;left:45%;top:0;
									
									text-align:center;
								}
								.storetop1-pic{
									width:222px;height:150px;
									position: absolute;left:20%;
									top:35%;

									img{
										width:150px;
										height:150px;
									}
								}
							}
							.store-top2{
								width:369px;height:250px;
								border:1px solid #cccccc;float:left;
								margin-right:2px;position: relative;
								.storetop1-txt{
									width:52px;height:72px;
									text-align:center;
									position: absolute;
									left:60px;top:20px;
								}
								.storetop1-pic{
									width:222px;height:150px;
									position: absolute;left:30%;
									top:35%;

									img{
										width:150px;
										height:150px;
									}
								}

							}
						}
						.storesamebottom{
							width:833px;height:257px;
							margin-top:5px;
							.store-bottom1{
								width:273px;height:257px;border:1px solid #ccc;
								float:left;
								margin-right:2px;
								position: relative;
								.storebtm-txt{
									width:150px;height:48px;
									text-align: center;
									position: absolute;
									left:25%;top:0;
									
								}
								.storebtm-pic{
									width:150px;height:150px;
									position: absolute;
									top:40%;left:25%;
									img{
										width:150px;height:150px;
									}
								}
							}
						}
							}
					}

					.lifestyle1{
						width:398px;height:520px;float:left;margin-right:2px;
						.lifehover2{
							width:398px;height:250px;
							margin:4px;
							position: relative;
							dd{
								position: absolute;
								
							}
							dt{
								width:0px;height:250px;
								overflow: hidden;
								background:rgba(0,0,0,.5);
								position: absolute;
								left:50%;
								ul{
								width:200px;height:80px;
								border:1px solid #fff;
								position: absolute;
								left:17%;
								top:35%;
								text-align: center;padding:30px;
									li{
										color:#fff;	font-size:14px;line-height: 24px;
									}

								}
							}
						}
						.lifehover{
							width:398px;height:517px;
							position:relative;

							dd{
								position: absolute;

							}
							dt{

								width:0px;height:517px;
								overflow: hidden;
								background:rgba(0,0,0,.5);
								position: absolute;
								left:50%;
								

								ul{
								width:180px;height:60px;
								border:1px solid #fff;
								position: absolute;
								left:17%;
								top:35%;
								text-align: center;padding:40px;
									li{
										color:#fff;	font-size:14px;line-height: 24px;
									}
								}
							
							}
							
						}
					}		
				}
		}
	}
}
.shoppingmall{
	height:180px;margin-top:20px;
	.shopmall-con{
		height:180px;
		width:1200px;margin:0 auto;
		.shopmall-ul1{
			width:1200px;height:50px;
			.shopmall-li1{
				width:234px;height:50px;float:left;margin-right:6px;position:relative;
				overflow: hidden;
				.shopmall-total{
					width:234px;height:100px;
					background: blue;
					position: absolute;top:0;

					.shopmall-halft{
						width:234px;height:50px;text-align: center;
						line-height: 50px;background: #999999;color:#fff;
					}
					.shopmall-halfb{
						width:234px;height:50px;text-align: center;
						line-height: 50px;background: #333333;color:#fff;
						position: relative;
						.kuang{
							width:222px;height:40px;border:1px solid #fff;
							position: absolute;top:5px;left:5px;
						}
					}
				}
			}
		}
	}
}
.classbag{
	height:440px;
	.classbag-con{
		height:440px;width:1200px;margin:0 auto;
		.classbag-title{
			width:1200px;height:60px;
			.classtitle1{
				float:left;
			}
			.classtitle2{
				width:150px;height:60px;
				float:right;
				line-height: 80px;
			}
		}
		.classbag-box{
			width:1210px;height:374px;
			.classbag-good1{
				width:240px;height:372px;
				margin-right:3px;
				float:left;
				.good1-link{
					width:220px;height:197px;margin:10px 0 0 10px;
					border-bottom:1px dashed #d4d4d4;
					li{
						width:110px;height:36px;
						float:left;

						a{
							color:#666666;
							&:hover{
								color:#b2825e;
							}
						}
					}
				}
				.good1-slider{
					width:220px;height:150px;
					.good1-pic{
						width:210px;height:104px;
						padding:10px 0 0 10px;position: relative;
						overflow: hidden;
						.goodpic-ul{
							height:220px;width:990px;
							position: absolute;left:0px;
							li{
								width:190px;height:84px;
								
								padding:15px;
								float:left;
								img{
								width:90px;height:45px;float:left;
								}
							}
						}
						
					}
					.good1-circle{
						.anniu{
							width:100px;height:37px;
							padding:5px;margin:10px 0 0 50px;
							p{
								width:20px;height:30px;float:left;text-align: center;line-height: 14px;
								
								font-size:20px;cursor: pointer;
								position: relative;z-index: 10;
							}
							div{
								width:10px;height:10px;background: #666666;
								border-radius: 100%;float:left;
								margin:5px;
								position: relative;
								z-index: 10;

							}
							.active-good{
								background:#d00;
							}
						}
					}

				}
			}
			.classbag-good2{
				width:392px;height:372px;float:left;
				margin-right:3px;
				.good2-pic{
					width:392px;height:372px;
					position: relative;
					.good2pic-top{
						width:250px;height:87px;background:rgba(255,255,255,.6);
						position: absolute;left:70px;bottom:10px;text-align: center;line-height: 26px;
					}
				}
			}
			.classbag-good3{
				width:562px;height:372px;float:left;

				div{
					width:276px;height:189px;
					border:1px solid #cccccc;float:left;margin-right:2px;
					margin-bottom:2px;
					img{
						width:276px;height:189px;
					}
				}

			}
		}
	}
}
.promotion{
	height:900px;margin-top:10px;
	.promotion-con{
		height:900px;width:1210px;
		margin:0 auto;
		.promotionbox{
			width:1210px;height:760px;
			.promotion1{
				width:1210px;height:295px;
				.promo-pic1{
					width:610px;height:295px;float:left;
				}
				.promo-pic2{
					width:305px;height:295px;float:left;
				}
				.promo-pic3{
					width:293px;height:293px;float:left;
				}
			}
			.promotion2{
				width:1210px;height:295px;
				.promo2-pic1{
					width:305px;height:295px;float:left;
				}
				.promo2-pic2{
					width:305px;height:295px;float:left;
				}
				.promo2-pic3{
					width:598px;height:293px;float:left;
				}
			}
			.promotion3{
				width:1210px;height:146px;
			
				.proleft{
					width:610px;height:146px;float:left;
					.proleft-pic{
						width:192px;height:63px;float:left;margin:5px 5px 5px 5px;
						position: relative;
						#po1{
							/* width:166px;height:1px; */
							position: absolute;
							top:-1px;left:0;background: #000;
						}
						#po2{
							/* width:1px;height:86px; */
							position: absolute;
							top:-1px;left:-1px;background: #000;
						}
						#po3{
							position: absolute;
							top:63px;left:192px;background: #000;
							/* width:1px;height:84px; */
						}
						#po4{
							position: absolute;
							top:63px;left:192px;background: #000;
							/* width:166px;height:1px;
							 */
						}
					}
				}
				.proright{
					width:600px;height:146px;float:left;
					.blankbox{
						widht:600px;height:146px;margin-top:5px;
						position: relative;
						li{
							position: absolute;
						}
					}
				}
			}
		}
	}
}
.bottom{
	height:600px;border-top:1px solid #c9c9c9;
	background: url(../images/footer.jpg)no-repeat;
	.bottom-con{
		width:1210px;height:400px;
		margin:0 auto;
		.bottom1{
			width:1210px;height:116px;
			
			.bottom11{
				width:242px;height:64px;
				margin-top:26px;
				float:left;
				.bottom11-pic{
					width:79px;height:64px;
					float:left;
				}
				.bottom11-txt{
					width:160px;height:48px;
					font-size:12px;
					float: left;
					margin-top:20px;
					.txt-p1{
						color:#000000;
						font-weight: 600
					}
					.txt-p2{
						color:#333333;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}
		.bottom2{
			height:450px;
			
			border-top:1px solid #c9c9c9;
			.foot-top{
				width:1280px;height:283px;
				.foottop-ul{
					padding-left:20px;
					li{width:185px;height:160px;
						float:left;
						span{
							display: block;
							font-size:12px;

							a{
								color:#333333;
								line-height: 24px;
								&:hover{
									text-decoration:underline;
								}
							}
							
						}
						.sp01{
							color:#000;
							line-height: 38px;
							font-weight: 600;
						}
					}
					.weibo{
						width:130px;height:283px;float:left;
					}
				}
			}
			.foot-bottom{
				width:1210px;height:177px;
				.mess-btm{
					width:1210px;height:66px;
					text-align: center;
					a{
						color:#000;
						line-height: 66px;
						font-size:12px;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				.mess-btm2{
					width:1210px;height:48px;text-align: center;
					a{
						color:#000;font-size:12px;
						&:hover{
							text-decoration: underline;
						}
						
					}
					p{
						font-size:12px;
					}
				}
				.mess-btm3{
					width:810px;height:40px;
					padding-left:400px;
					img{
						float:left;
					}
				}
			}
		}
	}
}
.fixed{
	width:37px;height:383px;
	position: fixed;right:0;top:200px;
	z-index: 100;
	.fixed-top{
		width:35px;height:234px;
		
		ul{
			width:35px;height:147px;
			li{
				width:35px;height:35px;background:#333;margin-bottom:1px;
				border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				div{
					width:35px;height:35px;
				}
				a{
					color:#000;
				}
				.menu-bao-div{
					background: url(../images/share01.png)no-repeat -86px -159px;
				}
			}
			.menu-zichan{
				
				.zichan-div{
					background: url(../images/share01.png)no-repeat -140px -154px;
					position: relative;
					.zichan-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						display: none;
						border:1px solid #ccc;
					}
				}
				
			}
			.menu-like{
				position: relative;
				.like-div{
					background: url(../images/share01.png)no-repeat -202px -155px;
					.like-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						display: none;
						border:1px solid #ccc;
					}
				}
				
			}
			.menu-zixun{
				position: relative;
				.zixun-div{
					background: url(../images/share01.png)no-repeat -258px -163px;
					.zixun-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						border:1px solid #ccc;
					}
				}
				
			}
		}
	}
	.fixed-bottom{
		width:35px;height:140px;
		
		ul{
			width:35px;height:147px;
			li{
				width:35px;height:35px;background:#333;margin-bottom:1px;
				border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				div{
					width:35px;height:35px;
				}
				a{
					color:#000;
				}
			}
			.menu-weixin{
				position: relative;
				.weixin-div{
					background: url(../images/share01.png)no-repeat -312px -155px;

				}
				.weixin-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-dianhua{
				position: relative;
				.dianhua-div{
					background: url(../images/share01.png)no-repeat -376px -155px;

				}
				.dianhua-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-bi{
				position: relative;
				.bi-div{
					background: url(../images/share01.png)no-repeat -376px -155px;

				}
				.bi-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-dingbu{
				position: relative;
				.dingbu-div{
					background: url(../images/share01.png)no-repeat -439px -157px;

				}
				.dingbu-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}

		}
	}
}