@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: '微软雅黑';  }
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration:none;}
img{border:0;display:block;}
ul,ol,li{list-style:none;}
input{outline:none;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;
}
body{
	background: url(../images/brand01.jpg)no-repeat;
}
  	$height:80px;
	$width:100%;
	$color:blue;
	$width-con:1200px;
.top{
		height:$height;width:$width;background: $color;
		img{
			width:100%;height:100%;
		}
		.top-con{

			width:$width;
			margin:0 auto;

		}
}
	$heightheader:30px;
.header{
		height:$heightheader;width:$width;background:#f2f2f2;
		.header-con{
			height:$heightheader;width:$width-con;margin:0 auto;
			.header-ul1{
				$color:#666666;$font:12px;height:$heightheader;
				color:$color;font-size:$font;width:500px;float:left;
				margin-right:140px;
				li{
					float:left;
				}
				a{
					height:18px;width:106px;border-right:1px solid #dfdfdf;display: block;color:#666666;margin-top:8px;
				}
				.index-a{
					background: url(../images/home.png)no-repeat 0px 0px;
					&:hover{
						color:orange;
					}
					span{
						margin-left:20px;
					}
				}

				.phone-a{
					width:250px;border:0;background:url(../images/line_bg.png)no-repeat;
					margin-left:5px;
					span{
						margin-left:25px;
					}
				}
			}
			.header-dl1{
				width:188px;height:30px;color:#666;font-size:12px;
				float:left;
				dt{
					float:left;
				}
				.login{
					position: relative;
				.login-a{
					display: block;
					width:50px;height:30px;line-height: 30px;position: relative;padding-left:50px;color:#666;
						&:hover{
							color:#d00;
						}
					
					}
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;
						background: #dfdfdf;
					}
				}
				
				.regist{
					position: relative;
					.regist-a{
										display: block;
										width:88px;height:30px;line-height: 30px;color:#666;background:url(../images/youli.gif)no-repeat 15px 0px;
										
										span{
											margin-left:45px;
										}
									}
									i{
											width:1px;height:12px;
											position: absolute;right:0;top:9px;background: #dfdfdf;
										}

								}
				}

			.my-five{
				width:130px;height:30px;line-height:30px;text-align:center;float:left;font-size:12px;position: relative;
				a{
					color:#666;
					
					em{
						width:14px;height:11px;display: inline-block;background:url(../images/share01.png)no-repeat -384px -320px;
					}
					
				}
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;background: #dfdfdf;
				}
				#myfive-dd{
					width:100%;height:150px;display:none;
				}
				
			}
			.help{
				width:85px;height:30px;float:left;
				text-align:center;font-size:12px;position: relative;
				i{
						width:1px;height:12px;
						position: absolute;right:0;top:9px;
						background: #dfdfdf;
				}
				a{
					color:#666;line-height: 30px;
					&:hover{
						color:orange;
					}
				}
			}
			.phonedown{
				width:128px;height:30px;float:left;font-size:12px;
				text-align: center;
				a{
					color:#666;line-height: 30px;
				}
				em{
						width:14px;height:11px;display: inline-block;background:url(../images/share01.png)no-repeat -384px -320px;
					}
				.phone-qr{
					width:106px;height:150px;background:#fff;padding:0 11px;display: none;position: relative;
					img{
						width:106px;height:106px;
					}
					p{
						width:106px;height:20px;font-size:12px;color:#666;line-height: 20px
					}
					.phone-zengsong{
						span{
							font-size:18px;
							font-weight: 500;
							color:#d00;
						}
					}
				}


			}

		}
}
.logo{
		width:100%;height:110px;
		background: #fff;
		.logo-con{
		width:1200px;height:110px;margin:0 auto;
			.logo-pic{
				width:244px;height:110px;float:left;
			}
			.logo-ad{
				width:142px;height:80px;float:left;margin:15px 0 0 50px;
			}
			.search{
				width:347px;height:68px;float: left;margin:36px 0 0 55px;
				form{
					width:347px;height:38px;background:#c69c6d;
					p{
						width:347px;height:38px;background:#c69c6d;
						.search-input1{
							width:263px;height:34px;border:0;margin:2px 0 2px 2px;color:#bbbbbb;font-size:12px;
						}
						.search-input2{
							width:70px;height:34px;border:0;background: #c69c6d;color:#fff;
						}
					}
				}
				.search-ul1{
					width:343px;height:32px;font-size:12px;
					li{
						float:left;margin-right:24px;
						a{
							display: block;color:#bbb;line-height: 32px;
							&:hover{
								color:#d00;
							}
						}
					}
				}
				
			}
			.seaenter{
					width:200px;height:30px;float:left;margin:36px 0 0 55px;
					p{
						width:200px;height:30px;
						background:url(../images/overseadef.jpg)no-repeat;
						&:hover{
							background:url(../images/overseahov.jpg)no-repeat;
						}
					}
				}
		}
}
.nav{
		width:100%;height:40px;background:#191919;
		.nav-con{
			width:1200px;height:40px;margin:0 auto;
			.nav-ul1{
				width:950px;height:40px;float:left;
				li{
					float:left;
					.classify-a{
						display: block;
						width:82px;height:40px;font-size: 12px;text-align: center;line-height: 40px;color:#b7a985;
						&:hover{
							color:#fff;
						}
					}
					#commodity{
						width:130px;height:40px;background:#cf0101;color:#fff;
					}
				
				}
				.classify{
					position: relative;
					.menu-left{
						width:130px;height:540px;background:rgba(255,255,255,.6);z-index: 30;display: none;
						position: absolute;left:0;top:40px;
						.menu-box{
							width:130px;height:540px;
							li{
								position: relative;
								width:130px;height:36px;
								z-index:40;
								.menu-fenlei{
									width:130px;height:36px;text-align: center;
									a{
										display: block;width:130px;height:36px;
										span{
											font-size:12px;color: #000;
											line-height: 36px;
										}
									}
									.active-nav{
										color:#c29b6c;
									}
									
									
								}
								/* .active-nav{
										background: url(../images/share01.png)no-repeat -200px -37px;
										a{
											color:#c29b6c;
										}
										
								} */
								.menu-xiangqing{
									width:800px;height:258px;
									background: #fff;
									position: absolute;left:130px;top:0px;z-index: 30;
									display: none;
									.xiangqing1{
										width:530px;height:64px;
										
										margin-left:40px;
										h2{
											float:left;
											width:100px;height:50px;
											
											a{
												color:#d00;
												font-weight: 400;line-height: 50px;font-size:14px;
											}

										}
										.a{
											width:400px;height:50px;float:left;
											a{
												font-size:12px;color:#333;
											}
										}
									}
									.xiangqing-btn{
										width:500px;height:50px;margin-left:40px;
										a{
											display: block;float:left;
											width:100px;height:50px;text-align: center;color:#fff;background: red;line-height: 50px;margin-right:30px;
										}
									}
								}
							}
						}
					}
				}
			.find-store{
					span{
						display: inline-block;
						width:40px;height:40px;float:left;
					}
					i{
						display: inline-block;
						float: left;
						width:19px;height:40px;
						background: url(../images/share01.png)no-repeat -58px -169px;
					}
				}
			}
			.fly-sea{
				width:100px;height:40px;
				background:url(../images/oversea.gif)no-repeat;
				float:left;
				margin-right:5px;
			}
			.nav-icon{
				width:130px;height:40px;float:left;
				li{
					float:left;
				}
				span{
					width:30px;height:40px;display: block;
					margin-right:5px;
				}
				.icon-1{
					background: url(../images/share01.png)no-repeat -238px -66px;
				}
				.icon-2{
					background:url(../images/share01.png) no-repeat -297px -66px ;
				}
				.icon-3{
					background:url(../images/share01.png) no-repeat -352px -66px;
				}
			}
		}
	}
.lvlogo{
	height:140px;
	.lvlogo-con{
		width:1210px;height:140px;
		margin:0 auto;background: #fff;
		.logo-box{
			width:1210px;height:140px;
			.logo_l{
				width:160px;height:118px;float:left;margin:10px 0 0 20px;
				ul{
					width:160px;height:118px;
					.logo-li1{
						width:160px;height:88px;
						div{
							box-shadow: 0px -1px 8px #999,1px 1px 8px #999,1px 1px 8px #999,-1px 1px 8px #999;
							img{
								height:80px;
							}	
						}
						
					}
					.logo-li2{
						width:140px;height:30px;margin-left:10px;
						div{
							width:140px;height:30px;
							background: #7c665d;
							border-bottom-left-radius:7px;
							border-bottom-right-radius:7px;
							text-align: center;
							-webkit-box-shadow: 0px 3px 5px #000;
							span{
								width:84px;height:12px;font-size:12px;line-height: 12px;
								a{
									width:84px;height:17px;color:#fff;
								}
							}
						}
					}
				}
			}
			.logo_r{
				width:1030px;height:110px;float:left;margin-top:30px;
				.logor-top{
					width:1030px;height:35px;
					.logortop1{
						width:248px;height:35px;float:left;
						font-size: 20px;line-height: 35px;color:#000;
						margin:0 380px 0 65px;
					}
					.logortop2{
						width:78px;height:35px;background:#fff;
						float:left;
						.sharespan1{
							width:25px;height:35px;
							display: inline-block;
							float: left;
							background: url(../images/brandstore.png)no-repeat -69px -335px;
						}
						.sharespan2{
							width:53px;height:35px;
							display: inline-block;
							font-size: 12px;
							color: #666;
							float: left;line-height: 35px;cursor: pointer;

						}
					}
					.logortop3{
						width:140px;height:35px;float: left;
						.logo3-notice{
							width:100px;height:25px;border:1px solid #c8a985;border-radius: 7px;text-align: center;margin:5px 0 0 20px;
							span{
								font-size: 12px;
								line-height: 25px;
								color:#666;cursor:pointer;
							}

						}
					}
					.logortop4{
						width:112px;height:35px;float:left;text-align: center;
						span{
							color:#d00;font-size: 12px;line-height: 35px;
							cursor: pointer;
						}
					}
				}
				.logor-bottom{
					width:780px;height:35px;
					text-align: center;line-height: 35px;color: #999;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top:20px;margin-left:40px;
				}

			}
		}
	}
}
.logolist{
	height:180px;margin-top:10px;
	.logolist-con{
		width:1210px;height:170px;margin:0 auto;padding-top:10px;
		background: #fff;
		.logo-title{
			width:600px;height:43px;margin-left:20px;
			.logotitle-span1{
				display: inline-block;width:102px;height:35px;
				a{
					color:#79502d;font-size: 12px;line-height: 35px;
				}
			}
			b{
				font-size: 20px;color:#ccc;
			}
			.logotitle-span2{
				display: inline-block;width:193px;height:35px;text-align: center;
				a{
					color:#79502d;font-size: 12px;line-height: 35px;
				}
			}

		}
		.logolist-jieshao{
			width:1170px;height:113px;margin-left:20px;
			.logojieshao1{
				width:1170px;height:45px;
				border-top:1px solid #e6e6e6;
				border-bottom:1px solid #e6e6e6;
				border-right:1px solid #e6e6e6;
				.jieshao1-left{
					width:584px;height:45px;float:left;
					.wanbiao-title{
						width:86px;height:45px;background:#f0f0f0;text-align: center;float:left;font-size: 12px;
						a{
							line-height: 45px;color:#000;
							font-weight: 600;
						}
					}
					.wanbiao-content{
						width:390px;height:45px;float:left;
						div{
							width:196px;height:32px;margin-top:6px;margin-left:23px;
							a{
								color:#6e3e0e;font-size:12px;
								line-height: 32px;margin-left:20px;display: block;width:45px;height:32px;
								float: left;text-align: center;
								&:hover{
									background:#c69c6d;
								}

							}
						}
					}

				}
				.jieshao1-right{
						width:584px;height:45px;float:left;
					.wanbiao-title{
						width:86px;height:45px;background:#f0f0f0;text-align: center;float:left;font-size: 12px;
						a{
							line-height: 45px;color:#000;
							font-weight: 600;
						}
					}
					.wanbiao-content{
						width:390px;height:45px;float:left;
						div{
							width:196px;height:32px;margin-top:6px;margin-left:23px;
							a{
								color:#6e3e0e;font-size:12px;
								line-height: 32px;margin-left:20px;display: block;width:45px;height:32px;
								float: left;text-align: center;
								&:hover{
									background:#c69c6d;
								}

							}
						}
					}
				}
				
			}
			.logojieshao2{
				width:1169px;height:65px;
				border-bottom:2px solid #e6e6e6;
				.jieshao2-left{
					width:584px;height:65px;
					float:left;
					.bag-title{
						width:86px;height:65px;background:#f0f0f0;text-align: center;float: left;
						a{
							font-size: 14px;
							color:#000;
							line-height: 45px;
							font-weight: 600;
						}
					}
					.bag-content{
						width:390px;height:64px;float:left;
					}
					.bagcontent-a{
						width:390px;height:64px;
						a{
							font-size:12px;color:#6e3e0e;
							display: block;
							line-height: 12px;
							float:left;
							text-align: center;
							padding:10px;
							&:hover{
								background:#c69c6d;
							}
						}
					}
				}
				.jieshao2-right{
					width:584px;height:45px;
					float:left;
					.bag-title{
						width:86px;height:65px;background:#f0f0f0;text-align: center;float: left;
						a{
							font-size: 14px;
							color:#000;
							line-height: 45px;
							font-weight: 600;
						}
					}
					.bag-content{
						width:390px;height:64px;float:left;
					}
					.bagcontent-a{
						width:390px;height:64px;
						a{
							font-size:12px;color:#6e3e0e;
							display: block;
							line-height: 12px;
							float:left;
							text-align: center;
							padding:10px;
							margin-left:40px;
							&:hover{
								background:#c69c6d;
							}
						}
					}

				}
			}
		}
	}
}
.lv-price{
	height:55px;margin-top:10px;
	.lvprice-con{
		width:1210px;height:55px;background:#fff;margin:0 auto;
		ul{
			width:1210px;height:55px;
			li{
				width:1160px;height:55px;margin-left:50px;
				.price-top{
					width:83px;height:45px;color:#6e3e0e;text-align: center;line-height: 45px;
					font-size: 14px;
					float:left;
				}
				.price-right{
					width:1000px;height:55px;
					float:left;
					.price-abox{
						width:828px;height:32px;
						a{
							color:#923e2c;
							font-size:12px;
							display: block;float: left;
							padding:10px;
							&:hover{
								background:#c69c6d;
								color:#fff;
							}
						}
						.check_all{
							background:#c69c6d;
							color:#fff;
							margin-right:10px;
						}
					}
				}
			}
		}
	}
}
.lvselect{
	height:56px;margin-top:10px;
	.lvselect-con{
		width:1210px;height:46px;background:#fff;
		margin:0 auto;
		padding-top:10px;
		.lvselect-box{
			width:1210px;height:46px;
		
			.lvselect-boxa{
				width:320px;height:27px;border:1px solid #c9c9c9;border-right: 0;
				margin-left:10px;
				a{
					display: block;
					width:62px;height:27px;border-right:1px solid #c9c9c9;float:left;
					text-align: center;line-height: 27px;
					font-size: 12px;color:#666666;
					&:hover{
						color:#c69c6d;
					}
				}
				.check-a5{
					width:67px;
				}
				.check-a1{
					background: #c69c6d;
					color:#fff;
				}
			}
		}
	}
}
.stblock-box{
	height:10000px;margin-top:10px;
	background: #000;
	.stblockbox-con{
		height:10000px;width:1240px;
		background: #fff;
		margin:0 auto;
		position: relative;
		
			
			.pitem{
			width:290px;height:480px;background:#fff;
			float:left;
			padding:10px 10px;
			&:hover{
				background:#f2f2f2;
			}
			.inbox{
				width:270px;height:460px;
				padding:10px 10px;
				background: #fff;
				.inbox-ul1{
					width:270px;height:460px;

					.inbox-img{
						width:267px;height:267px;
						img{
							width:267px;height:267px;
						}
					}
					.inbox-txt{
						width:270px;height:48px;
					
						text-align: center;
						margin-top:10px;
						a{
							color:#471f6f;
							font-size:12px;
							line-height: 12px;
						}
					}
					.inbox-price{
						width:270px;height:34px;
						
						text-align: center;
						margin-top:10px;
						a{
							color:#c2a69d;
							line-height: 34px;
							font-size: 12px;
						}
					}
					
				}
			}
		}
		
		
		.list-fenye{
			width:1240px;height:100px;background: red;
			position: absolute;
			bottom: 0;left: 0
		}
	}
	
}
.bottom{
	height:600px;border-top:1px solid #c9c9c9;
	background: url(../images/footer.jpg)no-repeat;
	.bottom-con{
		width:1210px;height:400px;
		margin:0 auto;
		.bottom1{
			width:1210px;height:116px;
			
			.bottom11{
				width:242px;height:64px;
				margin-top:26px;
				float:left;
				.bottom11-pic{
					width:79px;height:64px;
					float:left;
				}
				.bottom11-txt{
					width:160px;height:48px;
					font-size:12px;
					float: left;
					margin-top:20px;
					.txt-p1{
						color:#000000;
						font-weight: 600
					}
					.txt-p2{
						color:#333333;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}
		.bottom2{
			height:450px;
			
			border-top:1px solid #c9c9c9;
			.foot-top{
				width:1280px;height:283px;
				.foottop-ul{
					padding-left:20px;
					li{width:185px;height:160px;
						float:left;
						span{
							display: block;
							font-size:12px;

							a{
								color:#333333;
								line-height: 24px;
								&:hover{
									text-decoration:underline;
								}
							}
							
						}
						.sp01{
							color:#000;
							line-height: 38px;
							font-weight: 600;
						}
					}
					.weibo{
						width:130px;height:283px;float:left;
					}
				}
			}
			.foot-bottom{
				width:1210px;height:177px;
				.mess-btm{
					width:1210px;height:66px;
					text-align: center;
					a{
						color:#000;
						line-height: 66px;
						font-size:12px;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				.mess-btm2{
					width:1210px;height:48px;text-align: center;
					a{
						color:#000;font-size:12px;
						&:hover{
							text-decoration: underline;
						}
						
					}
					p{
						font-size:12px;
					}
				}
				.mess-btm3{
					width:810px;height:40px;
					padding-left:400px;
					img{
						float:left;
					}
				}
			}
		}
	}
}
.fixed{
	width:37px;height:383px;
	position: fixed;right:0;top:200px;
	z-index: 100;
	.fixed-top{
		width:35px;height:234px;
		
		ul{
			width:35px;height:147px;
			li{
				width:35px;height:35px;background:#333;margin-bottom:1px;
				border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				div{
					width:35px;height:35px;
				}
				a{
					color:#000;
				}
				.menu-bao-div{
					background: url(../images/share01.png)no-repeat -86px -159px;
				}
			}
			.menu-zichan{
				
				.zichan-div{
					background: url(../images/share01.png)no-repeat -140px -154px;
					position: relative;
					.zichan-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						display: none;
						border:1px solid #ccc;
					}
				}
				
			}
			.menu-like{
				position: relative;
				.like-div{
					background: url(../images/share01.png)no-repeat -202px -155px;
					.like-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						display: none;
						border:1px solid #ccc;
					}
				}
				
			}
			.menu-zixun{
				position: relative;
				.zixun-div{
					background: url(../images/share01.png)no-repeat -258px -163px;
					.zixun-tab{
						width:100px;height:35px;
						background:#fff;
						position: absolute;
						right:0;top:0;
						z-index: -1;
						line-height: 35px;
						border:1px solid #ccc;
					}
				}
				
			}
		}
	}
	.fixed-bottom{
		width:35px;height:140px;
		
		ul{
			width:35px;height:147px;
			li{
				width:35px;height:35px;background:#333;margin-bottom:1px;
				border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				div{
					width:35px;height:35px;
				}
				a{
					color:#000;
				}
			}
			.menu-weixin{
				position: relative;
				.weixin-div{
					background: url(../images/share01.png)no-repeat -312px -155px;

				}
				.weixin-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-dianhua{
				position: relative;
				.dianhua-div{
					background: url(../images/share01.png)no-repeat -376px -155px;

				}
				.dianhua-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-bi{
				position: relative;
				.bi-div{
					background: url(../images/share01.png)no-repeat -376px -155px;

				}
				.bi-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}
			.menu-dingbu{
				position: relative;
				.dingbu-div{
					background: url(../images/share01.png)no-repeat -439px -157px;

				}
				.dingbu-tab{
					width:100px;height:35px;
					background:blue;
					position: absolute;
					right:0;top:0;
					z-index: -1;
					line-height: 35px;
					display: none;
				}
			}

		}
	}
}