@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: '微软雅黑';  }
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration:none;}
img{border:0;display:block;}
ul,ol,li{list-style:none;}
input{outline:none;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.login-header{
	height:98px;
	.login-logo{
		height:98px;width:1210px;margin:0 auto;
		h2{
			width:244px;height:98px;float:left;
			img{
				width:244px;height:98px;
			}
		}
		.loginlogo-p1{
			width:124px;height:43px;float:left;
			border-left:2px solid #cccccc;
			text-align: center;line-height: 43px;
			font-size:20px;font-weight: 600;color:#999999;margin:30px 0 0 20px;
		}
		.loginlogo-p2{
			width:182px;height:98px;float:right;text-align: center;
			span{
				font-size:12px;color:#66668c;line-height: 98px;
			}
			em{
				display: inline-block;width:29px;height:19px;
				background:url(../images/brandstore.png)no-repeat -352px -347px ;


			}
		}
	}
}
.login-content{
	height:584px;width:100%;
	background: url(../images/login.jpg)no-repeat;
	background-size:  100% 584px;
	.logincontent-con{
		width:1210px;height:584px;
		margin:0 auto;
		position: relative;
		.login-box{
			width:400px;height:524px;
			position: absolute;right:20px;top:20px;background: #fff;
			.login-ul1{
				width:360px;height:20px;
				position: relative;
				margin-top:35px;margin-left:30px;
				li{
					width:176px;height:20px;
					float:left;text-align: center;line-height: 20px;
					color:#a29999;
					cursor: pointer;

				}
				.saoma-li{
					border-right:1px solid #a29999;
				}
				.active-login{
					color:#000;
				}
			}
			.login-body{
				width:400px;height:380px;margin-top:33px;

				.login-saoma{
					width:400px;height:380px;position: relative;
					display: block;
					.saoma-pic{
						width:380px;height:160px;
						position: relative;
						.erweima{
							width:160px;height:160px;float: left;margin-right:20px;
							position: absolute;
							left:120px;
							top:60px;
							
							img{
								width:160px;height:160px;
							}
						}
						.phone-pic{

							width:0px;height:160px;float:left;
							overflow: hidden;
							position: absolute;
							left:280px;top:60px;
							

						}
					}
					.loginbody-p{
						width:400px;height:48px;
						position: absolute;
						bottom: -180px;left:0;
						padding-top:25px;
						font-size: 14px;
						color:#999;text-align: center;
						

						a{
							color:#ff9900;
							&:hover{
								color:#c81522;
							}
						}
					}
					
				}
				.login-login{
					width:400px;height:380px;
					display:none;
					#login-form{
						width:400px;height:290px;
						input{
							width:316px;height:48px;padding-left: 20px;
							margin-left:30px;
						}
						.login-users{
							margin-bottom:16px;
							margin-top:20px;
						}
						.login-password{
							margin-bottom:52px;
						}
						.login-sub{
							width:335px;height:48px;border:0;
							background:#333;
							font-size:14px;color:#fff;
						}
						.sub-bottom{
							width:338px;height:14px;
							margin-left:30px;
							font-size:14px;line-height: 14px;
							color:#999999;
							margin-top:10px;
							li{
								float:left;

							}
							.auto-login{
								em{
									display: inline-block;
									width:12px;height:12px;
									background: #999;
									border:1px solid #666;
									margin-top:2px;
									border-radius: 3px;
									position: relative;
									z-index: 20;
									color:#000;
									cursor: pointer;
								}
							}
							.return-re{
								float:right;
								.return-a1{
									color:#ff9900;
								}
								.return-a2{
									color:#999;
								}
							}
						}
					}
				}
				.othertype{
					width:400px;height:16px;
					background: url(../images/other-type.jpg)no-repeat;
				}
				.ul-hook{
					width:212px;height:32px;
					margin-left:100px;
					margin-top:8px;
					li{
						width:70px;height:32px;
						
						float:left;
						a{
							display: block;
							width:32px;height:32px;background:url(../images/share01.png)no-repeat -313px -126px #666666;
							border-radius: 100%;margin-left:16px;
						}
						.hook-a1{
							&:hover{
								background-color:green;
							}
						}
						.hook-a2{
							&:hover{
								background-color:blue;
							}
						}
						.hook-a3{
							&:hover{
								background-color:yellow;
							}
						}
					}
				}

			}
		}
	}
}
.bottom{
	height:600px;border-top:1px solid #c9c9c9;
	background: url(../images/footer.jpg)no-repeat;
	.bottom-con{
		width:1210px;height:400px;
		margin:0 auto;
		.bottom1{
			width:1210px;height:116px;
			
			.bottom11{
				width:242px;height:64px;
				margin-top:26px;
				float:left;
				.bottom11-pic{
					width:79px;height:64px;
					float:left;
				}
				.bottom11-txt{
					width:160px;height:48px;
					font-size:12px;
					float: left;
					margin-top:20px;
					.txt-p1{
						color:#000000;
						font-weight: 600
					}
					.txt-p2{
						
						a{
							color:#333333;
							&:hover{
								text-decoration:underline;
							}
						}
						
					}
				}
			}
		}
		.bottom2{
			height:450px;
			
			border-top:1px solid #c9c9c9;
			.foot-top{
				width:1280px;height:283px;
				.foottop-ul{
					padding-left:20px;
					li{width:185px;height:160px;
						float:left;
						span{
							display: block;
							font-size:12px;

							a{
								color:#333333;
								line-height: 24px;
								&:hover{
									text-decoration:underline;
								}
							}
							
						}
						.sp01{
							color:#000;
							line-height: 38px;
							font-weight: 600;
						}
					}
					.weibo{
						width:130px;height:283px;float:left;
					}
				}
			}
			.foot-bottom{
				width:1210px;height:177px;
				.mess-btm{
					width:1210px;height:66px;
					text-align: center;
					a{
						color:#000;
						line-height: 66px;
						font-size:12px;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				.mess-btm2{
					width:1210px;height:48px;text-align: center;
					a{
						color:#000;font-size:12px;
						&:hover{
							text-decoration: underline;
						}
						
					}
					p{
						font-size:12px;
					}
				}
				.mess-btm3{
					width:810px;height:40px;
					padding-left:400px;
					img{
						float:left;
					}
				}
			}
		}
	}
}
.login-fail{
	position: fixed;
	left:0;top:0;right:0;bottom: 0;
	margin: auto;
	border:1px solid #000;
	width:200px;height:200px;
	background: #fff;
	text-align: center;
	line-height: 20px;
	padding-top:40px;
	
	a{
		display: block;
		color:#d00;
		line-height: 20px;
		margin-top:20px;
	}
}